// Color

$light-white-100: #f7f7f7;
$light-white-200: #f3f3f3;
$lightGrey-100: #e9e9e9;
$dark-grey-300: #969696;

$light-green-50: #68d851;
$green: #87d677;
$red: #cf4141;
$blue: #549ef2;
$orange: #fcaf4a;

// Fonts

$primary-font: "Poppins", sans-serif;

// Styling

$box-shadow-50: 10px 10px 19px -11px rgba(0, 0, 0, 0.59);
$box-shadow-100: 10px 10px 14px 0px rgba(0, 0, 0, 0.188);
$box-shadow-200: 0px 30px 40px -20px rgb(163, 165, 174);

$border-radius-5: 5px;
$border-radius-25: 25px;
$border-radius-50: 50px;

// Size

$width-100: 100%;
