/* Dashboard Chart Styling Start */
h1,
h2 {
	margin-left: 2.2rem;
}

.dashboard .bar_chart,
.donut_chart {
	border-radius: 25px;
	margin: 2.5rem;
	box-shadow: 10px 10px 14px 0px #00000030;
	-webkit-box-shadow: 10px 10px 14px 0px #00000030;
	-moz-box-shadow: 10px 10px 14px 0px #00000030;
}

.dashboard .bar_chart {
	background-color: #f3f3f3;
}

.dashboard .donut_chart {
	background-color: #f5f2f2;
}

.dashboard .row {
	display: flex;
	justify-content: space-between;
}

.chart_wrap {
	display: flex;
	margin-top: -40px;
}

.chart_wrap .donut_chart {
	width: 100%;
}

/* Dashboard Chart Styling End */
